</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- orl -->
<script src="/adminlte/plugins/orl/js/jquery.overlayScrollbars.js"></script>
<!-- AdminLTE App -->
<script src="/adminlte/dist/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="/adminlte/dist/js/demo.js"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="/adminlte/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="/adminlte/plugins/raphael/raphael.min.js"></script>
<script src="/adminlte/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="/adminlte/plugins/jquery-mapael/maps/usa_states.min.js"></script>
<!-- ChartJS -->
<script src="/adminlte/plugins/chart.js/Chart.min.js"></script>

<!-- PAGE SCRIPTS -->
<script src="/adminlte/dist/js/pages/dashboard2.js"></script>
</body>
</html>