    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">   
                                <div class="header-info-left">
                                   <ul>                                          
										<li>
											<a href="tel:+373 68 455 211"><i class="fa fa-phone" aria-hidden="true"></i> +373 68 455 211</a>
											<span><a href="tel:+373 68 414 233"> +373 68 414 233</a></span>
										</li>
										<li><a href="mailto:cezoomobila@gmail.com"><i class="fas fa-envelope"></i>cezoomobila@gmail.com</a></li>
										<li><a href="cart.html"><i class="fas fa-map-marker-alt"></i>mun.Chișinău, str. Alba Iulia 75A</a></li>                                     
									</ul>
                                </div>
								
								<div class="header-info-right d-flex hidden">                                   
                                    <div class="select-this">
                                        <form action="#">
                                            <div class="select-itms">
                                                <select name="select" id="select1">
                                                    <option value="">RO</option>
                                                    <option value="">SPN</option>
                                                    <option value="">CDA</option>
                                                    <option value="">USD</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>            
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom bottom-bg header-sticky">
                    <div class="container">
                        <div class="row align-items-center">                            
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-4">
                                <!-- Main-menu -->
                                <div class="main-menu f-left d-none d-lg-block">
                                    <nav>                                                
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="index.html">Magazin</a></li>
											<li><a href="delivery.html">Livrare </a></li>
											<li><a href="#" id="credit-card">Creditare</a></li>
											<li><a href="contact.html">Contacte</a></li>  
                                        </ul>
                                    </nav>
                                </div>
                            </div>
							<!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2">
                                <div class="logo">
                                  <a href="index.html"><img src="assets/img/logo/Logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-2 fix-card">
                                <ul class="header-right fl-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right has-search">
											<span class="fa fa-search form-control-feedback"></span>
											<input type="text" class="form-control" name="Search" placeholder="Caută produs">
										</div>
                                     </li>
                                     <li>
                                        <div class="shopping-card">
                                            <a href="cart.html">Coș<i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
		<!--- MODAL WINDOW CREDIT CART---->
	<div id="modal-credit"	class="modal">
		<span id="btnClose" class="close">&times;</span>
		<div class="container mb-50 modal-credit">
			<div class="row">
				<div class="col-lg-12">				
					<div class="bb-gray"><h2>Cumpără în Credit</h2></div>
					<div><h5>Selectează companie de microfinanțare</h5></div></div>	
				<div class="col-lg-12 mb-40">
			<form class="form-contact contact_form" action="credit_process.php" method="post" id="contactForm" novalidate="novalidate">
						<div class=" col-lg-12 cc-selector">
							<input id="forza-logo" type="radio" name="credit-card" value="forza-logo" />
							<label class="drinkcard-cc forza-logo" for="forza-logo"></label>
							
							<input id="sebo-logo" type="radio" name="credit-card" value="sebo-logo" />
							<label class="drinkcard-cc sebo-logo"for="sebo-logo"></label>
							
							<input id="iute-logo" type="radio" name="credit-card" value="iute-logo" />
							<label class="drinkcard-cc iute-logo"for="iute-logo"></label>
							
							<input id="sebo-logo2" type="radio" name="credit-card" value="sebo-logo2" />
							<label class="drinkcard-cc sebo-logo"for="sebo-logo2"></label>
							
							<input id="forza-logo2" type="radio" name="credit-card" value="forza-logo2" />
							<label class="drinkcard-cc forza-logo" for="forza-logo2"></label>
						</div>
				</div>
				</div>
				<div class="row align-items-end">
					<div class="col-lg-12 text-left">
						<h5>Completează formularul</h5>
					</div>
					<div class=" col-lg-4">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="name">Nume</label><br>
								<input class="form-control valid" name="name" id="name" type="text">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="phone">Telefon de contact</label><br>
								<input class="form-control valid" name="phone" id="phone" type="tel">
							</div>
						</div>
					</div>
					<div class=" col-lg-4">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="subject">Prenume</label><br>
								<input class="form-control" name="subject" id="subject" type="text">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="email">Email</label><br>
								<input class="form-control valid" name="email" id="email" type="email">
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-sm-12">
						<div class="form-group mt-3">
							<button type="submit" class="black-btn uppercase">Trimite</button>
						</div>
					</div>
					</div>
			</form>		
		</div>
	</div>
<!--- END MODAL WINDOW CREDIT CART---->							


    <main>
	<div class="container section-padding30 uppercase">
		<!-- Section Tittle -->
		<div class="row">
			<div class="col-lg-12">
				<div class="section-tittle text-left border-line mb-20 mt-30">
					<h2>Coș de cumpărături</h2>
				</div>
			</div>
		</div> 
		<div class="row">
			<div class="col-lg-7 col-12">
				<div class="row bg-card-product-min">
					<div class=" col-sm-3 col-3 wrap">
						<div class="circle-bg-gray"></div>
						 <div class="thumbnail-img-incard">
							<img src="assets/img/product/product1.png" alt="">
						</div>
					</div>
					<div class="col-sm-9 col-8">
						<div class="title-prod-check-card">
							<h4>Scaun din lemn natural</h4>
						</div>
						<div class="row mt-20">
							<div class="col-sm-3 col-3 price-product-incard">
								<p>Preț</p>
								<h2>680 <span>lei</span></h2>
							</div>
							<div class="col-sm-3 col-3">
								<p>Culori</p>
								<div class="row">
									<div class="col-3">
										<label class="wrap-picer">
										  <input type="radio" checked="checked" name="radio">
										  <span class="checkcolor color-cork"></span>
										</label>
									</div>
									<div class="col-3">
										<label class="wrap-picer">
										  <input type="radio" name="radio">
										  <span class="checkcolor color-tosca"></span>
										</label>
									</div>
									<div class="col-3">
										<label class="wrap-picer">
										  <input type="radio" name="radio">
										  <span class="checkcolor color-contessa"></span>
										</label>
									</div>
									<div class="col-3">
										<label class="wrap-picer">
										  <input type="radio" name="radio">
										  <span class="checkcolor color-dusty"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-4 quantity ">
								<p>Cantitate</p>
								<button class="minus-btn" type="button" name="button">
									<img src="assets/img/icon/minus.svg" alt="" />
								</button>
								<input class="input-number" type="text" name="name" value="1" min="0" max="100" >
								<button class="plus-btn" type="button" name="button">
									<img src="assets/img/icon/plus.svg" alt="" />
								</button>
							</div>
								
							<div class="col-sm-2 col-2">
								<div class="buttons">
									<p>Sterge</p>
									<button class="delete-btn" type="button" name="button">
										<img src="assets/img/icon/delete.svg" alt="" />
									</button>
								</div>	
							</div>
						</div>
					</div>
				</div>
				
				<div class="row bg-card-product-min">
					<div class=" col-sm-3 col-3 wrap">
						<div class="circle-bg-gray"></div>

						 <div class="thumbnail-img-incard">
							<img src="assets/img/product/product9.png" alt="">
						</div>
					</div>
					<div class="col-sm-9 col-8">
						<div class="title-prod-check-card">
							<h4>Scaun din lemn natural</h4>
						</div>
						<div class="row mt-20">
							<div class="col-sm-3 col-3 price-product-incard">
								<p>Preț</p>
								<h2>680 <span>lei</span></h2>
							</div>
							<div class="col-sm-3 col-3">
								<p>Culori</p>
								<div class="row">
									<div class=" col-3 ">
										<label class="wrap-picer">
										  <input type="radio" checked="checked" name="radio">
										  <span class="checkcolor color-cork"></span>
										</label>
									</div>
									<div class=" col-3 ">
										<label class="wrap-picer">
										  <input type="radio" name="radio">
										  <span class="checkcolor color-tosca"></span>
										</label>
									</div>
									<div class=" col-3">
										<label class="wrap-picer">
										  <input type="radio" name="radio">
										  <span class="checkcolor color-contessa"></span>
										</label>
									</div>
									<div class="col-3">
										<label class="wrap-picer">
										  <input type="radio" name="radio">
										  <span class="checkcolor color-dusty"></span>
										</label>
									</div>
								</div> 
							</div>
							<div class="col-sm-4 col-4 quantity ">
								<p>Cantitate</p>
								<button class="minus-btn" type="button" name="button">
									<img src="assets/img/icon/minus.svg" alt="" />
								</button>
								<input class="input-number" type="text" name="name" value="1" min="0" max="100" >
								<button class="plus-btn" type="button" name="button">
									<img src="assets/img/icon/plus.svg" alt="" />
								</button>
							</div>
								
							<div class="col-sm-2 col-2">
								<div class="buttons">
									<p>Sterge</p>
									<button class="delete-btn" type="button" name="button">
										<img src="assets/img/icon/delete.svg" alt="" />
									</button>
								</div>	
							</div>
						</div>
					</div>
				</div>
				
				<div class="row bg-card-product-min">
					<div class=" col-sm-3 col-3 wrap">
						<div class="circle-bg-gray"></div>

						 <div class="thumbnail-img-incard">
							<img src="assets/img/product/product13.png" alt="">
						</div>
					</div>
					<div class="col-sm-9 col-8">
						<div class="title-prod-check-card">
							<h4>Scaun din lemn natural</h4>
						</div>
						<div class="row mt-20">
							<div class="col-sm-3 col-3 price-product-incard">
								<p>Preț</p>
								<h2>680 <span>lei</span></h2>
							</div>
							<div class="col-sm-3 col-3">
								<p>Culori</p>
								<div class="row">
									<div class="col-3">
										<label class="wrap-picer">
										  <input type="radio" checked="checked" name="radio">
										  <span class="checkcolor color-cork"></span>
										</label>
									</div>
									<div class="col-3">
										<label class="wrap-picer">
										  <input type="radio" name="radio">
										  <span class="checkcolor color-tosca"></span>
										</label>
									</div>
									<div class="col-3">
										<label class="wrap-picer">
										  <input type="radio" name="radio">
										  <span class="checkcolor color-contessa"></span>
										</label>
									</div>
									<div class="col-3">
										<label class="wrap-picer">
										  <input type="radio" name="radio">
										  <span class="checkcolor color-dusty"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-4 quantity ">
								<p>Cantitate</p>
								<button class="minus-btn" type="button" name="button">
									<img src="assets/img/icon/minus.svg" alt="" />
								</button>
								<input class="input-number" type="text" name="name" value="1" min="0" max="100" >
								<button class="plus-btn" type="button" name="button">
									<img src="assets/img/icon/plus.svg" alt="" />
								</button>
							</div>							
							<div class="col-sm-2 col-2">
								<div class="buttons">
									<p>Sterge</p>
									<button class="delete-btn" type="button" name="button">
										<img src="assets/img/icon/delete.svg" alt="" />
									</button>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-12 ml-20">
				<div class="section-tittle mt-60">
					<h4>Suma cumpărăturilor</h4>
					<div class="total-price-list mb-20">
						<div class="decorated-line-item">
							<h5>subTotal</h5><span>5108 lei</span>
						</div>
						
							<div class="decorated-line-item">
								<h5>livrare</h5><span>Gratuit</span>
								<span class="span-desc-deliver">Livrarea gratuită în raza orașului Chișinău</span>		
							</div>
							
							<div class="decorated-line-item total-price">
									<h5>Total</h5><span>55180 lei</span>
							</div>
							
						
						<div class="mt-40">
							<a href="#" class="black-btn ">Finalizează comanda</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
