
  <script src="{{ 'assets/plugins/jquery/jquery.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ 'assets/plugins/orl/js/jquery.orl.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ 'assets/js/adminlte.min.js' | prepend: site.baseurl }}"></script>
