  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ page.title }} | AdminLTE 3 Documentation</title>
    {% seo %}
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <link rel="stylesheet" href="{{'assets/plugins/fontawesome-free/css/all.min.css' | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{'assets/plugins/orl/css/OverlayScrollbars.min.css' | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{'assets/css/docs.css' | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{'assets/css/highlighter.css' | prepend: site.baseurl}}">
    <link rel="stylesheet" href="{{'assets/css/adminlte.min.css' | prepend: site.baseurl}}">
</head>
