    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">   
                                <div class="header-info-left">
                                   <ul>                                          
										<li>
											<a href="tel:+373 68 455 211"><i class="fa fa-phone" aria-hidden="true"></i> +373 68 455 211</a>
											<span><a href="tel:+373 68 414 233"> +373 68 414 233</a></span>
										</li>
										<li><a href="mailto:cezoomobila@gmail.com"><i class="fas fa-envelope"></i>cezoomobila@gmail.com</a></li>
										<li><a href="cart.html"><i class="fas fa-map-marker-alt"></i>mun.Chișinău, str. Alba Iulia 75A</a></li>                                     
									</ul>
                                </div>
								
								<div class="header-info-right d-flex hidden">                                   
                                    <div class="select-this">
                                        <form action="#">
                                            <div class="select-itms">
                                                <select name="select" id="select1">
                                                    <option value="">RO</option>
                                                    <option value="">SPN</option>
                                                    <option value="">CDA</option>
                                                    <option value="">USD</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>            
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
               <div class="header-bottom bottom-bg header-sticky">
                    <div class="container">
                        <div class="row align-items-center">                            
                            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-4">
                                <!-- Main-menu -->
                                <div class="main-menu f-left d-none d-lg-block">
                                    <nav>                                                
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="index.html">Magazin</a></li>
											<li><a href="delivery.html">Livrare </a></li>
											<li><a href="#" id="credit-card">Creditare</a></li>
											<li><a href="contact.html">Contacte</a></li>  
                                        </ul>
                                    </nav>
                                </div>	
                            </div>
							<!-- Logo -->
                            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2">
                                <div class="logo">
                                  <a href="index.html"><img src="assets/img/logo/Logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-3 col-md-3 col-sm-2 fix-card">
                                <ul class="header-right fl-right d-none d-lg-block d-flex justify-content-between">
                                    <li class="d-none d-xl-block">
                                        <div class="form-box f-right has-search">                                            
											<span class="fa fa-search form-control-feedback"></span>
											<input type="text" class="form-control" name="Search" placeholder="Caută produs">
										</div>
                                     </li>
                                     <li>
                                        <div class="shopping-card">
                                            <a href="cart.html">Coș<i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
	<!--- MODAL WINDOW CREDIT CART---->
	<div id="modal-credit"	class="modal">
		<span id="btnClose"class="close">&times;</span>
		<div class="container mb-50 modal-credit">
			<div class="row">
				<div class="col-lg-12">				
					<div class="bb-gray"><h2>Cumpără în Credit</h2></div>
					<div><h5>Selectează companie de microfinanțare</h5></div></div>	
				<div class="col-lg-12 mb-40">
			<form class="form-contact contact_form" action="credit_process.php" method="post" id="contactForm" novalidate="novalidate">
						<div class=" col-lg-12 cc-selector">
							<input id="forza-logo" type="radio" name="credit-card" value="forza-logo" />
							<label class="drinkcard-cc forza-logo" for="forza-logo"></label>
							
							<input id="sebo-logo" type="radio" name="credit-card" value="sebo-logo" />
							<label class="drinkcard-cc sebo-logo"for="sebo-logo"></label>
							
							<input id="iute-logo" type="radio" name="credit-card" value="iute-logo" />
							<label class="drinkcard-cc iute-logo"for="iute-logo"></label>
							
							<input id="sebo-logo2" type="radio" name="credit-card" value="sebo-logo2" />
							<label class="drinkcard-cc sebo-logo"for="sebo-logo2"></label>
							
							<input id="forza-logo2" type="radio" name="credit-card" value="forza-logo2" />
							<label class="drinkcard-cc forza-logo" for="forza-logo2"></label>
						</div>
				</div>
				</div>
				<div class="row align-items-end">
					<div class="col-lg-12 text-left">
						<h5>Completează formularul</h5>
					</div>
					<div class=" col-lg-4">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="name">Nume</label><br>
								<input class="form-control valid" name="name" id="name" type="text">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="phone">Telefon de contact</label><br>
								<input class="form-control valid" name="phone" id="phone" type="tel">
							</div>
						</div>
					</div>
					<div class=" col-lg-4">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="subject">Prenume</label><br>
								<input class="form-control" name="subject" id="subject" type="text">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label for="email">Email</label><br>
								<input class="form-control valid" name="email" id="email" type="email">
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-sm-12">
						<div class="form-group mt-3">
							<button type="submit" class="black-btn uppercase">Trimite</button>
						</div>
					</div>
					</div>
			</form>		
		</div>
	</div>
<!--- END MODAL WINDOW CREDIT CART---->							
    <main>
	<div class="container-fluid">
	<div class="row">
		<div class="contact-info-block  col-xl-4 col-md-4 col-sm-12 col-12 pb-170">
			<div class="col-sm-6  fl-right">
			<div class="section-tittle align-items-end border-line mb-20 mt-100">
					<h2>Contacte</h2>
			</div>
			<div class="mb-40">
				<h6>Telefon</h6>
				<div><a href="#">+373 68 455 852</a></div>
				<div><a href="#">+373 22 000 151</a></div>
			</div>
			<div class="mb-40">
				<h6>Mail</h6>
				<a href="#">czmobila@gmail.com</a>
			</div>
			<div >
				<h6>Adresă</h6>
				<a href="#">mun.Chișinău</br><span>str.Varnita 13/4</span></a>
			</div>
		</div>
		</div>
		<div class=" cont-form-p col-xl-8 col-md-8 col-sm-12 col-12 pb-180 bg-gray">
			<div class="section-tittle text-left  mb-20 mt-100">
					<h3>Lasă-ne un mesaj</h3>
			</div>
			<div class=" col-md-9 col-sm-12 col-12">
                        <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                            <div class="row">
								<div class="col-sm-6">
									<div class="col-sm-12 nopadding">
										<div class="form-group">
											<label for="name">Nume</label><br>
											<input class="form-control valid" name="name" id="name" type="text">
										</div>
									</div>
									<div class="col-12 nopadding">
										<div class="form-group">
											<label for="phone">Telefon de contact</label><br>
											<input class="form-control valid" name="phone" id="phone" type="tel">
										</div>
									</div>
									<div class="col-12 nopadding">
										<div class="form-group">
											<label for="email">Email</label><br>
											<input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
										</div>
									</div>
                                </div>
								
								<div class="col-sm-6">
									<div class="col-sm-12 nopadding">
										<div class="form-group">
											<label for="subject">Prenume</label><br>
											<input class="form-control" name="subject" id="subject" type="text">
										</div>
									</div>
									
									<div class="col-sm-12 nopadding"> 
										<div class="form-group">
										<label for="message">Mesaj</label><br>
											<textarea class="form-control w-100" name="message" id="message" cols="30" rows="8"></textarea>
										</div>
									</div>
                                </div>
                                
                                
                                
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="black-btn uppercase">Trimite</button>
                            </div>
                        </form>
                    </div>
		
		</div>
	</div>
	</main>