<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top top-bg d-none d-lg-block">
                <div class="container">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>
                                    <li>
                                        <a href="tel:+373 68 455 211"><i class="fa fa-phone" aria-hidden="true"></i> +373 68 455 211</a>
                                        <span><a href="tel:+373 68 414 233"> +373 68 414 233</a></span>
                                    </li>
                                    <li><a href="mailto:cezoomobila@gmail.com"><i class="fas fa-envelope"></i>cezoomobila@gmail.com</a></li>
                                    <li><a href="cart.html"><i class="fas fa-map-marker-alt"></i>mun.Chișinău, str. Alba Iulia 75A</a></li>
                                </ul>
                            </div>

                            <div class="header-info-right d-flex hidden">
                                <div class="select-this">
                                    <form action="#">
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value="">RO</option>
                                                <option value="">SPN</option>
                                                <option value="">CDA</option>
                                                <option value="">USD</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom bottom-bg header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-4">
                            <!-- Main-menu -->
                            <div class="main-menu f-left d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="index.html">Magazin</a></li>
                                        <li><a href="delivery.html">Livrare </a></li>
                                        <li><a href="#credit-card" id="credit-card">Creditare</a></li>
                                        <li><a href="contact.html">Contacte</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/Logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-2 fix-card">
                            <ul class="header-right fl-right d-none d-lg-block d-flex justify-content-between">
                                <li class="d-none d-xl-block">
                                    <div class="form-box f-right has-search ">
                                        <span class="fa fa-search form-control-feedback"></span>
                                        <input type="text" class="form-control" name="Search" placeholder="Caută produs">
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping-card">
                                        <a href="cart.html">Coș<i class="fas fa-shopping-cart"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<!--- MODAL WINDOW CREDIT CART---->
<div id="modal-credit"	class="modal">
    <span id="btnClose"class="close">&times;</span>
    <div class="container mb-50 modal-credit">
        <div class="row">
            <div class="col-lg-12">
                <div class="bb-gray"><h2>Cumpără în Credit</h2></div>
                <div><h5>Selectează companie de microfinanțare</h5></div></div>
            <div class="col-lg-12 mb-40">
                <form class="form-contact contact_form" action="credit_process.php" method="post" id="contactForm" novalidate="novalidate">
                    <div class=" col-lg-12 cc-selector">
                        <input id="forza-logo" type="radio" name="credit-card" value="forza-logo" />
                        <label class="drinkcard-cc forza-logo" for="forza-logo"></label>

                        <input id="sebo-logo" type="radio" name="credit-card" value="sebo-logo" />
                        <label class="drinkcard-cc sebo-logo"for="sebo-logo"></label>

                        <input id="iute-logo" type="radio" name="credit-card" value="iute-logo" />
                        <label class="drinkcard-cc iute-logo"for="iute-logo"></label>

                        <input id="sebo-logo2" type="radio" name="credit-card" value="sebo-logo2" />
                        <label class="drinkcard-cc sebo-logo"for="sebo-logo2"></label>

                        <input id="forza-logo2" type="radio" name="credit-card" value="forza-logo2" />
                        <label class="drinkcard-cc forza-logo" for="forza-logo2"></label>
                    </div>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-lg-12 text-left">
                <h5>Completează formularul</h5>
            </div>
            <div class=" col-lg-4">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Nume</label><br>
                        <input class="form-control valid" name="name" id="name" type="text">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="phone">Telefon de contact</label><br>
                        <input class="form-control valid" name="phone" id="phone" type="tel">
                    </div>
                </div>
            </div>
            <div class=" col-lg-4">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="subject">Prenume</label><br>
                        <input class="form-control" name="subject" id="subject" type="text">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="email">Email</label><br>
                        <input class="form-control valid" name="email" id="email" type="email">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <div class="form-group mt-3">
                    <button type="submit" class="black-btn uppercase">Trimite</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<!--- END MODAL WINDOW CREDIT CART---->


<main>

    <!-- Section Category-->
    <section class="category-area">
        <div class="container mt-40 d-flex justify-content-center">
            <div class="row category-img ">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 categori ">
                    <div class="item-category mb-2 dopdown">
                        <img src="assets/img/categores/bg_cat1.jpg" alt="">
                        <a href="#" id="l"><span class="half-circle">Dormitor</span></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 categori">
                    <div class="item-category mb-2">
                        <img src="assets/img/categores/bg_cat2.jpg" alt="">
                        <a href="#"><span class="half-circle">Bucătărie</span></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 categori">
                    <div class="item-category mb-2">
                        <img src="assets/img/categores/bg_cat3.jpg" alt="">
                        <a href="#"><span class="half-circle">Living</span></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 categori">
                    <div class="item-category mb-2">
                        <img src="assets/img/categores/bg_cat4.jpg" alt="">
                        <a href="#"><span class="half-circle">Birou</span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 categori">
                    <div class="item-category mb-2">
                        <img src="assets/img/categores/bg_cat5.jpg" alt="">
                        <a href="#"><span class="half-circle">Copii</span></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 categori">
                    <div class="item-category mb-2" id="test">
                        <img src="assets/img/categores/bg_cat6.jpg" alt="">
                        <a href="#"><span class="half-circle">Hol</span></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 categori">
                    <div class="item-category mb-2">
                        <img src="assets/img/categores/bg_cat7.jpg" alt="">
                        <a class="a-category-hover" href="#"><span class="half-circle">Baie</span></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 categori">
                    <div class="item-category mb-2">
                        <img src="assets/img/categores/bg_cat8.jpg" alt="">
                        <a href="#"><span class="half-circle">Terasă</span></a>
                    </div>
                </div>
            </div>
            <div class="row top-bg" id="show">
                <div class="col-xl-2 col-sm-1 list-desc-category">
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Dormitoare</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Paturi</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Saltele</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Dulapuri</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-sm-1 list-desc-category">
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Dormitoare</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Paturi</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Saltele</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Dulapuri</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-sm-1 list-desc-category">
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Dormitoare</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Paturi</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Saltele</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Dulapuri</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-sm-1 list-desc-category">
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Dormitoare</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Paturi</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Saltele</a></li>
                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Dulapuri</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Category-->
    <!-- Section Product Slider -->
    <section class="slider-product section-padding30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12 wrap-arrow-slider">
                    <div class="section-tittle text-left border-line mb-20 mt-30">
                        <h2>Produse la Promoție</h2>
                    </div>
                    <div class="arrows-slider-product"></div>
                    <div class="slider-controls"></div>

                </div>

            </div>
            <div class="row slick-product">
                <div class="container item">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-1 wrap">
                            <div class="circle-bg"></div>
                            <img src="assets/img/product/product1.png" alt="">
                        </div>
                        <div class="col-lg-7 col-md-7  col-sm-1 info-product-slider">
                            <div class="text-product-slider">
                                <span>Scaune</span>
                                <h3>Scaun din lemn natural</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas consectetur rhoncus commodo, sem nec vel. Lacinia nisi a tortor enim. Nulla at nulla tincidunt Consectetur consectetur sit id donec hendrerit at consectetur adipiscing elit.</p>
                                <div class="prise-color">
                                    <ul class="price-in-slider">
                                        <li>Preț</li>
                                        <li>680 lei</li>
                                    </ul>
                                    <ul class="color-pic-slider">
                                        <li>Culori</li>
                                        <li>
                                            <ul class="color-picer mb-40">
                                                <li><div class="color-picer-circle color-cork"></div></li>
                                                <li><div class="color-picer-circle color-contessa"></div></li>
                                                <li><div class="color-picer-circle color-tosca"></div></li>
                                                <li><div class="color-picer-circle color-dusty"></div></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear"><a href="#" class="black-btn">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container item">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-1 wrap">
                            <div class="circle-bg"></div>
                            <img src="assets/img/product/product1.png" alt="">
                        </div>
                        <div class="col-lg-7 col-md-7  col-sm-1 info-product-slider">
                            <div class="text-product-slider">
                                <span>Scaune</span>
                                <h3>Scaun din lemn natural</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas consectetur rhoncus commodo, sem nec vel. Lacinia nisi a tortor enim. Nulla at nulla tincidunt Consectetur consectetur sit id donec hendrerit at consectetur adipiscing elit.</p>
                                <div class="prise-color">
                                    <ul class="price-in-slider">
                                        <li>Preț</li>
                                        <li>680 lei</li>
                                    </ul>
                                    <ul class="color-pic-slider">
                                        <li>Culori</li>
                                        <li>
                                            <ul class="color-picer mb-40">
                                                <li><div class="color-picer-circle color-cork"></div></li>
                                                <li><div class="color-picer-circle color-contessa"></div></li>
                                                <li><div class="color-picer-circle color-tosca"></div></li>
                                                <li><div class="color-picer-circle color-dusty"></div></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear"><a href="#" class="black-btn">Vezi produs</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container item">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-1 wrap">
                            <div class="circle-bg"></div>
                            <img src="assets/img/product/product1.png" alt="">
                        </div>
                        <div class="col-lg-7 col-md-7  col-sm-1 info-product-slider">
                            <div class="text-product-slider">
                                <span>Scaune</span>
                                <h3>Scaun din lemn natural</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas consectetur rhoncus commodo, sem nec vel. Lacinia nisi a tortor enim. Nulla at nulla tincidunt Consectetur consectetur sit id donec hendrerit at consectetur adipiscing elit.</p>
                                <div class="prise-color">
                                    <ul class="price-in-slider">
                                        <li>Preț</li>
                                        <li>680 lei</li>
                                    </ul>
                                    <ul class="color-pic-slider">
                                        <li>Culori</li>
                                        <li>
                                            <ul class="color-picer mb-40">
                                                <li><div class="color-picer-circle color-cork"></div></li>
                                                <li><div class="color-picer-circle color-contessa"></div></li>
                                                <li><div class="color-picer-circle color-tosca"></div></li>
                                                <li><div class="color-picer-circle color-dusty"></div></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear"><a href="#" class="black-btn">Vezi produs</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container item">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-1 wrap">
                            <div class="circle-bg"></div>
                            <img src="assets/img/product/product1.png" alt="">
                        </div>
                        <div class="col-lg-7 col-md-7  col-sm-1 info-product-slider">
                            <div class="text-product-slider">
                                <span>Scaune</span>
                                <h3>Scaun din lemn natural</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas consectetur rhoncus commodo, sem nec vel. Lacinia nisi a tortor enim. Nulla at nulla tincidunt Consectetur consectetur sit id donec hendrerit at consectetur adipiscing elit.</p>
                                <div class="prise-color">
                                    <ul class="price-in-slider ">
                                        <li>Preț</li>
                                        <li>680 lei</li>
                                    </ul>
                                    <ul class="color-pic-slider">
                                        <li>Culori</li>
                                        <li>
                                            <ul class="color-picer mb-40">
                                                <li><div class="color-picer-circle color-cork"></div></li>
                                                <li><div class="color-picer-circle color-contessa"></div></li>
                                                <li><div class="color-picer-circle color-tosca"></div></li>
                                                <li><div class="color-picer-circle color-dusty"></div></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="clear"><a href="#" class="black-btn">Finalizează comanda</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Product Slider-->

    <!-- Section Popular Product -->
    <section class="latest-product-area section-padding30">
        <div class="container">
            <div class="row product-btn d-flex justify-content-end align-items-end">
                <!-- Section Tittle -->
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="section-tittle mb-30">
                        <h2>Produse populare</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="properties__button f-right">
                        <!--Nav Button  -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-product1-tab" data-toggle="tab" href="#slide-product-1" role="tab" aria-controls="nav-product1" aria-selected="true">scaune</a>
                                <a class="nav-item nav-link" id="nav-product2-tab" data-toggle="tab" href="#slide-product-2" role="tab" aria-controls="nav-product2" aria-selected="false">fotolii</a>
                                <a class="nav-item nav-link" id="nav-product3-tab" data-toggle="tab" href="#slide-product-3" role="tab" aria-controls="nav-product3" aria-selected="false">Paturi</a>
                                <a class="nav-item nav-link" id="nav-product4-tab" data-toggle="tab" href="#slide-product-4" role="tab" aria-controls="nav-product4" aria-selected="false">Mese</a>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>
                </div>
            </div>
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
                <!-- card one -->
                <div class="tab-pane fade show active" id="slide-product-1" role="tabpanel" aria-labelledby="nav-product1-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product1.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product2.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product3.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card two -->
                <div class="tab-pane fade" id="slide-product-2" role="tabpanel" aria-labelledby="nav-product2-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product1.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product2.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product4.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card three -->
                <div class="tab-pane fade" id="slide-product-3" role="tabpanel" aria-labelledby="nav-product3-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product3.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product1.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product3.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card foure -->
                <div class="tab-pane fade" id="slide-product-4" role="tabpanel" aria-labelledby="nav-product4-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product3.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product1.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product3.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Nav Card -->
        </div>
    </section>
    <!--End Section Popular Product 1 -->

    <!-- Section Popular Product 2 -->
    <section class="latest-product-area section-padding30">
        <div class="container">
            <div class="row product-btn d-flex justify-content-end align-items-end">
                <!-- Section Tittle -->
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="section-tittle mb-30">
                        <h2>Produse Noi</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="properties__button f-right">
                        <!--Nav Button  -->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                                <a class="nav-item nav-link active" id="nav-product5-tab" data-toggle="tab" href="#slider-product5" role="tab" aria-controls="nav-product5" aria-selected="true">scaune</a>
                                <a class="nav-item nav-link" id="nav-product6-tab" data-toggle="tab" href="#slider-product6" role="tab" aria-controls="nav-product6" aria-selected="false">fotolii</a>
                                <a class="nav-item nav-link" id="nav-product7-tab" data-toggle="tab" href="#slider-product7" role="tab" aria-controls="nav-product7" aria-selected="false">Paturi</a>
                                <a class="nav-item nav-link" id="nav-product8-tab" data-toggle="tab" href="#slider-product8" role="tab" aria-controls="nav-product8" aria-selected="false">Mese</a>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>
                </div>
            </div>
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent2">
                <!-- card one -->
                <div class="tab-pane fade show active" id="slider-product5" role="tabpanel" aria-labelledby="nav-product5-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product8.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product9.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product1.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card two -->
                <div class="tab-pane fade" id="slider-product6" role="tabpanel" aria-labelledby="nav-product6-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product2.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product1.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product3.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card three -->
                <div class="tab-pane fade" id="slider-product7" role="tabpanel" aria-labelledby="nav-product7-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product8.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product9.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product1.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card foure -->
                <div class="tab-pane fade" id="slider-product8" role="tabpanel" aria-labelledby="nav-product8-tab">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product8.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product9.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-product mb-60">
                                <div class="product-img">
                                    <img src="assets/img/product/product1.png" alt="">
                                </div>

                                <div class="colori">
                                    <h4>Scaun din lemn natural</h4>
                                    <ul class="color-picer">
                                        <li><div class="color-picer-circle color-cork"></div></li>
                                        <li><div class="color-picer-circle color-contessa"></div></li>
                                        <li><div class="color-picer-circle color-tosca"></div></li>
                                        <li><div class="color-picer-circle color-dusty"></div></li>
                                    </ul>
                                </div>

                                <div class="price clear">
                                    <div class="fl-left"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                                    <div class="fl-right ">680 lei(1)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Nav Card -->
        </div>
    </section>
    <!-- End Section Popular Product2 -->

    <!-- Section Testimonial -->
    <section class="testemonial section-padding30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-left border-line mb-20 mt-30">
                        <h2>Recenzii de la clienții noștri</h2>
                    </div>
                </div>
            </div>

            <div class="container" id="testemon-carusel">

                <div class="item col-xl-5 text-testemonial-slider justify-content-between align-items-center">
                    <h3>marcela Moivescu</h3>
                    <div class="product-ratting">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida mattis arcu venenatis eget amet aliquam arcu semper. Ornare dignissim in morbi nisl. Vitae arcu mi tincidunt sit tortor quisque viverra risus, tincidunt.
                        Viverra at tempor, sit sed praesent rhoncus, vitae.</p>
                    <div class="price">
                        <div class="fl-left"><h5>Scaun Loft Syed Wood</h5></div>
                        <div class="fl-right"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    </div>
                </div>

                <div class=" item col-xl-5 text-testemonial-slider justify-content-between align-items-center">
                    <h3>marcela Moivescu</h3>
                    <div class="product-ratting">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida mattis arcu venenatis eget amet aliquam arcu semper. Ornare dignissim in morbi nisl. Vitae arcu mi tincidunt sit tortor quisque viverra risus, tincidunt.
                        Viverra at tempor, sit sed praesent rhoncus, vitae.</p>
                    <div class="price">
                        <div class="fl-left"><h5>Scaun Loft Syed Wood</h5></div>
                        <div class="fl-right"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    </div>
                </div>

                <div class=" item col-xl-5 text-testemonial-slider justify-content-between align-items-center">
                    <h3>marcela Moivescu</h3>
                    <div class="product-ratting">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida mattis arcu venenatis eget amet aliquam arcu semper. Ornare dignissim in morbi nisl. Vitae arcu mi tincidunt sit tortor quisque viverra risus, tincidunt.
                        Viverra at tempor, sit sed praesent rhoncus, vitae.</p>
                    <div class="price">
                        <div class="fl-left"><h5>Scaun Loft Syed Wood</h5></div>
                        <div class="fl-right"><a href="#" class="">Vezi produs<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END Section Testimonial -->


</main>

