<footer>
    <!-- Footer Start-->
    <div class="footer-area bottom-bg">
        <div class="container ">
            <div class="row footer-content">
                <!-- Logo -->
                <div class="col-lg-2 d-col-sm-none ">
                    <div class="logo">
                        <a href="index.html"><img src="assets/img/logo/Logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- Main-menu -->

                    <div class="d-flex justify-content-center">
                        <ul id="navigation-footer">
                            <li><a href="index.html">Magazin</a></li>
                            <li><a href="delivery.html">Despre Noi </a></li>
                            <li><a href="#creditare">Contacte</a></li>
                            <li><a href="contact.html">Comanda și livrare</a></li>
                            <li><a href="contact.html">Termeni și condiții</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></i></a>
                        <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

<!-- JS here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- All JS Custom Plugins Link Here here -->
<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<!--<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>-->
<!--<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>-->
<!-- Jquery Mobile Menu -->
<script src="./assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="./assets/js/owl.carousel.min.js"></script>
<!--<script src="./assets/js/slick.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>

<!-- One Page, Animated-HeadLin -->
<script src="./assets/js/wow.min.js"></script>
<script src="./assets/js/animated.headline.js"></script>
<script src="./assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="./assets/js/jquery.scrollUp.min.js"></script>
<script src="./assets/js/jquery.nice-select.min.js"></script>
<script src="./assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="./assets/js/contact.js"></script>
<script src="./assets/js/jquery.form.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/mail-script.js"></script>
<script src="./assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="./assets/js/plugins.js"></script>
<script src="./assets/js/main.js"></script>

</body>
</html>